/.idea/
/gitlab-runner/config/
/gitlab/config/
/gitlab/data/
/gitlab/logs/
/jenkins/home/
/openldap/config/
/openldap/ldap/
/mysql/mysql/
/harbor/common/config/
/harbor/data/
/harbor/log/
/nginx/html/md
/nginx/html/index.md
/scylla/scylla/
/jmeter-server/jmeter/
/postgres/data/
!scylla/scylla/data/.gitignore
!scylla/scylla/commitlog/.gitignore
/apache-ftpserver/res/log/ftpd.log